.button-main {
	background-color: #ff4500;
	padding: 16px 32px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-weight: 500;
	transition: all 0.5s;
	width: fit-content;
}

.button-main:hover {
	background-color: ;
	transform: scale(1.03);
}
